train:
  device: cuda
  batch_size: 64
  learning_rate: 1e-4
  num_epochs: 500
  valid_freq: 1
  smoothing: 0.1

test:
  best_model_pt_path: 'wandb/run-20240611_010356-qtms784k/files/best_model.pth'
  best_model_config_path: config/model/Basic2Conv15s1seg_5year.yaml

data_setting:
  val_ratio: 0.1
  test_ratio: 0.1
  inference_size: 3000
  seed: 0